mixin card(altText, imagePath, price, card_name, card_info, className="")
  figure.header-card.d-sm-flex.justify-content-sm-between.align-items-sm-center.justify-content-lg-center.flex-lg-column.mb-3.col-12.col-sm-11.col-lg-4.g-col-4(class=className)
    .card-img.container.text-center.mb-4.col-sm-6.col-xl-12
      img(src=imagePath, alt=altText).col-sm-5.col-lg-6.col-xl-3
    figcaption.col-sm-6.col-lg-12
      h2.card-name.mb-2 #{card_name}
      p.price
        | #{price}
        sup *
      .card-info-container
        p.card-info #{card_info}

mixin card-footer(altText, imagePath, price, card_name, card_info, className="")
  figure.card-bottom.mb-3.col-12.col-sm-5.col-xxl-3.p-0.g-col-1(class=className)
    figcaption.col-12.d-flex.flex-column.justify-content-between
      .card-img.container.text-center.mb-4.col-12.p-0
        img(src=imagePath, alt=altText).col-12
      .col-12.m-auto.px-3
        h2.card-name.mb-2.text-start #{card_name}
      .card-info-container.col-12.px-3
        p.card-info.text-start.col-12.m-auto #{card_info}
      .col-12.m-auto.d-flex.justify-content-between.px-3
        .col-6.d-flex.justify-content-start.align-items-center
          p.price.text-start
            | #{price}
        .col-6.d-flex.justify-content-end.align-items-center
          a(href="#").order-button замовити <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2 12l-4.5 4.5 1.527 1.5 5.973-6-5.973-6-1.527 1.5 4.5 4.5z"/></svg>

mixin more-info(cardName, cardInfo, className="")
  div.more-info-card.d-flex.flex-column.justify-content-between.px-3.py-4.col-12.col-md-5.col-xxl-3.g-col-6(class=className)
    div
      div.d-flex.gap-3
        .g-col-6
          img(src="img/file_ico.png", alt="")
        .col-7.g-col-6
          p.card-name.m-0 #{cardName}
          p.weight Розмір файла: 10Mb
      div.mb-4
        p.card-info #{cardInfo}
    div
      a.d-button(href="#").px-3.py-1
        <svg class="icon me-1"><use xlink:href="#clouds"></use></svg>
        | скачати
    

mixin button(textButton, link, className="")
    a(href="#" class=className)= textButton